# Java/Mavenによるビルド結果
# ビルド結果はソースから生成されるため、二重管理のような状態なるため
**/target/

# ログファイル
# 個々の環境によってファイル内容は変化することがあるため。履歴として残すことに適さない。
*.log

# セキュリティ
# 機密性が高い情報が含まれるためgithubでは管理しない。
.env

# 個別環境ファイル
# 共有されていない、個別設定が反映される可能性があるため誤生成された場合に予防
.vscode/

# OS設定ファイル
# OS依存ファイルの誤混入を予防
Thumbs.db
ehthumbs.db
Desktop.ini